@media (max-width: 1073px) {
  /* -------------about----------------- */
  .b {
    width: 2px;
    height: 300px;
    margin-left: 465px;
    position: relative;
    top: -58px;
  }
  .p h3 {
    font-size: 26px;
  }
  .p .p1 {
  }
  .q .p2 {
  }
  .q .h3 {
    font-size: 26px;
  }
  .partie2 {
    margin-top: -60px;
  }
  .partie11 {
    margin-top: -60px;
  }
  .partie3 {
    margin-top: -60px;
  }
}

@media (max-width: 991px) {
  /* ------------navbar------------- */

  .menu .navbar {
    background-color: rgba(0, 0, 0, 0.932);
  }
  .header-scrolled {
    height: auto;
  }

  /* -------------about----------------- */
  .b {
    width: 2px;
    height: 300px;
    margin-left: 345px;
    position: relative;
    top: -107px;
  }
  .p h3 {
    font-size: 19px;
  }
  .p .p1 {
    font-size: 19px;
  }
  .q .p2 {
    font-size: 19px;
  }
  .q h3 {
    font-size: 20px;
  }
  .partie2 {
    margin-top: -110px;
  }
  .partie11 {
    margin-top: -110px;
  }
  .partie3 {
    margin-top: -110px;
  }

  /*----------- footer----- */
  footer p {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  /*-------------- contact---------- */
  .contact-info .btn {
    margin-bottom: 50px;
  }
  /* -------------about----------------- */
  .b {
    width: 2px;
    height: 300px;
    margin-left: 120px;
    position: relative;
    top: -80px;
  }
  .p h3 {
    font-size: 20px;
  }
  .p {
    text-align: left;
    padding-left: 0px;
  }
  .p .p1 {
    font-size: 19px;
    text-align: left;
    padding-left: 0px;
  }
  .q .p2 {
    font-size: 19px;
  }
  .q h3 {
    font-size: 20px;
  }
  .partie2 {
    margin-top: -100px;
  }
  .partie11 {
    margin-top: -100px;
  }
  .partie3 {
    margin-top: -100px;
  }
  .partie1 .colonne1 {
    transform: translateX(0%);
  }
  .partie1 .colonne2 {
    transform: translateX(0%);
  }
  .partie11 .colonne1 {
    transform: translateX(0%);
  }
  .partie11 .colonne2 {
    transform: translateX(0%);
  }
  .partie2 .colonne1 {
    transform: translateX(0%);
  }
  .partie2 .colonne2 {
    transform: translateX(0%);
  }
  .partie3 .colonne1 {
    transform: translateX(0%);
  }
}

@media (max-width: 576px) {
  .welcom p {
    font-size: 50px;
    color: white;
    font-weight: 800;
  }
  .welcom .btn {
    color: white;
    font-weight: 700;
    font-size: 20px;
  }
  /*----------------- contact------------- */
  .contact-info .btn {
    margin-bottom: 50px;
  }
  /* -------------about----------------- */
  .b {
    width: 2px;
    height: 300px;
    margin-left: 110px;
    position: relative;
    top: -70px;
    z-index: -1;
  }
  .p h3 {
    font-size: 19px;
  }
  .p {
    text-align: left;
    padding-left: 0px;
  }
  .p .p1 {
    font-size: 18px;
    text-align: left;
    padding-left: 0px;
  }
  .q .p2 {
    font-size: 18px;
  }
  .q h3 {
    font-size: 20px;
  }
  .partie2 {
    margin-top: -100px;
  }
  .partie11 {
    margin-top: -100px;
  }
  .partie3 {
    margin-top: -100px;
  }
  .partie1 .colonne1 {
    transform: translateX(0%);
  }
  .partie1 .colonne2 {
    transform: translateX(0%);
  }
  .partie11 .colonne1 {
    transform: translateX(0%);
  }
  .partie11 .colonne2 {
    transform: translateX(0%);
  }
  .partie2 .colonne1 {
    transform: translateX(0%);
  }
  .partie2 .colonne2 {
    transform: translateX(0%);
  }
  .partie3 .colonne1 {
    transform: translateX(0%);
  }
}

@media (max-width: 490px) {
  /* -------------about----------------- */
  .b {
    width: 2px;
    height: 300px;
    margin-left: 90px;
    position: relative;
    top: -190px;
    z-index: -1;
  }
  .p h3 {
    font-size: 17px;
  }
  .p {
    text-align: left;
    padding-left: 0px;
  }
  .p .p1 {
    font-size: 17px;
    text-align: left;
    padding-left: 0px;
  }
  .q .p2 {
    font-size: 16px;
  }
  .q h3 {
    font-size: 17px;
  }
  .partie1 .a {
    width: 150px;
    height: 150px;
    z-index: 10;
  }
  .partie11 .a {
    width: 150px;
    height: 150px;
    z-index: 10;
  }

  .partie2 .aa {
    width: 150px;
    height: 150px;
    z-index: 10;
  }
  .partie3 .aaa {
    width: 150px;
    height: 150px;
    z-index: 10;
  }
  .partie2 {
    margin-top: -200px;
  }
  .partie11 {
    margin-top: -200px;
  }
  .partie3 {
    margin-top: -200px;
  }
}
@media (max-width: 406px) {
  /* -------------about----------------- */
  .b {
    width: 2px;
    height: 300px;
    margin-left: 80px;
    position: relative;
    top: -210px;
    z-index: -1;
  }
  .p h3 {
    font-size: 16px;
  }
  .p {
    text-align: left;
    padding-left: 0px;
  }
  .p .p1 {
    font-size: 14px;
    text-align: left;
    padding-left: 0px;
  }
  .q .p2 {
    font-size: 14px;
  }
  .q h3 {
    font-size: 16px;
  }
  .partie1 .a {
    width: 150px;
    height: 150px;
    z-index: 10;
  }
  .partie11 .a {
    width: 150px;
    height: 150px;
    z-index: 10;
  }

  .partie2 .aa {
    width: 150px;
    height: 150px;
    z-index: 10;
  }
  .partie3 .aaa {
    width: 150px;
    height: 150px;
    z-index: 10;
  }
  .partie2 {
    margin-top: -220px;
  }
  .partie11 {
    margin-top: -220px;
  }
  .partie3 {
    margin-top: -220px;
  }
}
