* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
}
h1 {
  font-size: 48px;
  text-align: center;
}
p {
  font-size: 18px;
  text-align: center;
  color: rgba(0, 0, 0, 0.699);
  font-style: italic;
}
/*------------ navbar--------------- */
.menu .navbar-brand h1 {
  font-size: 28px;
  font-family: Impact, "Haettenschweiler", Arial Narrow Bold, sans-serif;
  color: rgb(255, 230, 0);
}
.menu .navbar {
  padding: 10px 0px;
}
.menu .navbar-toggler {
  color: white;
}
.menu .navbar-toggler .i {
  color: white;
  border: 1px solid white;
}
.menu .navbar .nav-item {
  margin: 0px 10px;
}

.menu .navbar .nav-link {
  text-transform: uppercase;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.897);
  font-weight: 500;
  font-family: sans-serif;
}
.menu .nav-item .nav-link.nav-link.active,
.menu .nav-item .nav-link:hover {
  color: yellow;
}
.header-scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.932);
  -webkit-box-shadow: 0 4px 6px 0 rgb(12, 0, 46, 0.05);
  -moz-box-shadow: 0 4px 6px 0 rgb(12, 0, 46, 0.05);
  -o-box-shadow: 0 4px 6px 0 rgb(12, 0, 46, 0.05);
  box-shadow: 0 4px 6px 0 rgb(12, 0, 46, 0.05);
}
/* ----------------welcom------------------ */
.welcom {
  width: 100%;
  height: auto;
  min-height: 750px;
  background: url(/images/accessoires-homme.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 250px;
}
.welcom h1 {
  color: white;
  font-weight: 600;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}
.welcom p {
  font-size: 70px;
  color: white;
  font-weight: 800;
}
.welcom .btn {
  color: white;
  font-weight: 700;
  font-size: 20px;
}
/* ------------------services--------------------- */
.service-info {
  margin-top: 50px;
}
.service-info .card {
  border: none;
  align-items: center;
}
.service-info .cercle {
  width: 150px;
  height: 130px;
  border-radius: 50%;
  background-color: rgb(255, 230, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-info img {
  width: 84px;
  height: 84px;
}
.service-info .card-title {
  font-size: 28px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.service-info .card-text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.596);
}

/* ---------------------portfolio------------------------- */
.portfolio-info {
  margin-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(199, 199, 209, 0.13);
}
.portfolio-info .card {
  border: none;
}
.portfolio-info .card-title {
  font-size: 28px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.portfolio-info .card-text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.596);
}
.portfolio-info .bracelet {
  width: 100%;
  height: 300px;
  background: linear-gradient(to right, rgba(15, 15, 15, 0.466), black);
}

.portfolio-info .chaussure {
  width: 100%;
  height: 300px;
  background: linear-gradient(to right, rgb(200, 255, 0), rgb(255, 94, 0));
}
.portfolio-info .air {
  width: 100%;
  height: 300px;
}
.portfolio-info .coca {
  width: 100%;
  height: 300px;
  background: linear-gradient(to left, rgba(221, 220, 220, 0.295), red);
}
.portfolio-info .ordinateur {
  width: 100%;
  height: 300px;
  background: linear-gradient(to right, wheat, rgba(0, 0, 0, 0.76));
}
.portfolio-info .parfum {
  width: 100%;
  height: 300px;
  background: linear-gradient(to right, violet, rgba(255, 94, 0, 0.753));
}
.portfolio-info .card {
}
.portfolio-info .card:hover {
  transform: translateY(-10px);
  transition: all 0.8s ease-in-out;
}

.client {
  font-weight: 800;
}
.category {
  font-weight: 800;
}
/* --------------------about---------------------- */
.about-info {
  margin-top: 50px;
}
.about-info .image {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(128, 128, 128, 0.199);
}
.about-info img {
  width: 150px;
  height: 130px;
  border-radius: 50%;
}
.about-info .information {
  text-align: right;
  font-weight: 500;
  margin-right: 0px;
}

.about-info .p1 {
  text-align: right;
  padding-right: 0px;
}
.about-info .p2 {
  text-align: left;
  padding-left: 0px;
}
.about-info .change1 {
  margin-top: 100px;
  display: flex;
  flex-direction: row-reverse;
}

.about-info .information1 {
  text-align: left;
  font-weight: 500;
  margin-left: 0px;
}

/* .about-info .fine {
  width: 3px;
  height: 100px;
  background-color: red;
  margin: 0 auto;
 
} */
/* .about-info .change::after,
.about-info .change1::after   {
  content: "";
  width: 3px;
  height: 300px;
  background-color: red;
  display: block;

  transform: translateY(150px);
  margin: 0 auto;
} */
/* -------------------------------team-------------------------- */
.team-info {
  margin-top: 60px;
  margin-bottom: 50px;
  background-color: rgba(199, 199, 209, 0.13);
}
.team-info .card {
  border: none;
  background-color: transparent;
}
.team-info .card-img {
  border: 10px solid rgba(128, 128, 128, 0.185);
}
.team-info .card-img:hover {
  border: 10px solid rgba(255, 238, 0, 0.699);
}

.team-info .paragraphe {
  padding: 50px 0;
}
/*--------------------logo------------------  */
.logo {
  margin: 50px 0;
  opacity: 0.15;
}
.logo .img-fluid {
  width: 200px;
  height: 100px;
}
.contact-info {
  margin-top: 50px;
  width: 100%;
  min-height: 750px;
  background: url(/images/carte.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-info .H {
  font-size: 48px;
  text-align: center;
  color: white;
}
.contact-info .P {
  font-size: 18px;
  text-align: center;
  color: rgba(0, 0, 0, 0.699);
  font-style: italic;
  color: white;
}
.contact-info textarea {
  width: 100%;
  height: 270px;
  font-weight: 700;
}
.contact-info input {
  font-weight: 700;
}
.contact-info input:focus {
  border: 3px solid red;
}
.contact-info .btn {
  color: white;
  font-weight: 700;
  font-size: 20px;
}
/* ------------------------------footer------------------------------- */
footer {
}

.partie1 .a {
  border: 10px solid rgb(245, 242, 242);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
}
.partie11 .a {
  border: 10px solid rgb(245, 242, 242);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
}
/* .col-4 {
  border: 1px solid black;
} */

.partie2 .aa {
  border: 10px solid rgb(245, 242, 242);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
}
.partie3 .aaa {
  border: 10px solid rgb(245, 242, 242);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
  background-color: yellow;
}
.partie1 .colonne1 {
  transform: translateX(100%);
}
.partie1 .colonne2 {
  transform: translateX(-100%);
}
.partie11 .colonne1 {
  transform: translateX(100%);
}
.partie11 .colonne2 {
  transform: translateX(-100%);
}
.partie2 .colonne1 {
  transform: translateX(100%);
}
.partie2 .colonne2 {
  transform: translateX(100%);
}
.partie3 .colonne1 {
  transform: translateX(100%);
}
.a img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.aa img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.aaa img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.partie2 {
  margin-top: -50px;
}
.partie11 {
  margin-top: -50px;
}
.partie3 {
  margin-top: -50px;
}

.b {
  background-color: rgba(128, 128, 128, 0.322);
  width: 2px;
  height: 300px;
  margin-left: 555px;
  position: relative;
  top: -35px;
}
.p {
  text-align: right;
  padding-right: 0px;
}
.p .p1 {
  text-align: right;
  padding-right: 0px;
}
.q {
  text-align: left;
  padding-left: 0px;
}
.q .p2 {
  text-align: left;
  padding-left: 0px;
}
.aaa h5 {
  color: white;
  text-align: center;
  transform: translateY(130%);
}
